.welcome {
  height: 93vh;
  background: url(https://images.unsplash.com/photo-1515859005217-8a1f08870f59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1599&q=80)
    center/cover no-repeat;
  text-align: center;
}
.welcome h1 {
  color: white;
  font-size: 5em;
  padding-top: 35vh;
  padding-bottom: 5vh;
}
